{% extends "base.html" %}

{% block content %}
<p><h1>О проекте</h1></p>
<p><strong>PhDiachronicon</strong> - это база данных с квантитативными выражениями русского языка.<br>
Она построена по модели Конструктикона. В ней можно осуществлять поиск по разным параметрам.<br>
Особенностью данной базы данных является представление информации о сочетаемости выражений для разных периодов, <br>
что даёт возможность узнать измение сочетаемости и провести диахронический анализ.</p>
<p>Для поиска по выражениям перейдите на страницу Simple search.</p>
<hr>
{% endblock %}